mixin gransmap(data)
	.gransmap-top.clearfix
		.gransmap__aside.clearfix
			.gransmap__aside__maps
				ul.reset-list
					li.active: a(href="#" data-map="map1") de_overpass
					li: a(href="#" data-map="map2") de_nuke
					li: a(href="#" data-map="map3") de_overpass
					li: a(href="#" data-map="map1") de_nuke
					li: a(href="#" data-map="map2") de_overpass
					li: a(href="#" data-map="map3") de_nuke
					li: a(href="#" data-map="map1") de_overpass
			.gransmap__aside__grans
				ul.reset-list
					li.active  
						a(href="#" data-gran="smoke")
							+icon('cloud-icon')
							|Дымовая
					li
						a(href="#" data-gran="fire")
							+icon('fire-icon')
							|Молотов
					li
						a(href="#" data-gran="flash")
							+icon('explotion-icon')
							|Светошумовая
		mixin gransmap__map__granitem(top1, left1, top2, left2, type, active, video, videoimg)
			if (active == true)
				.gransmap__map__granitem.active(data-gran=type, data-video=video, data-videoimg=videoimg)
					a(href="#" style="top: #{top1}; left: #{left1};").gransmap__map__granitem__gran
						if (type == 'smoke')
							+icon('cloud-icon')
						if (type == 'fire')
							+icon('fire-icon')
						if (type == 'flash')
							+icon('explotion-icon')
					.gransmap__map__granitem__player(style="top: #{top2}; left: #{left2};")
						+icon('player-icon')
						.gransmap__map__granitem__arrow
							span
			else
				.gransmap__map__granitem(data-gran=type, data-video=video, data-videoimg=videoimg)
					a(href="#" style="top: #{top1}; left: #{left1};").gransmap__map__granitem__gran
						if (type == 'smoke')
							+icon('cloud-icon')
						if (type == 'fire')
							+icon('fire-icon')
						if (type == 'flash')
							+icon('explotion-icon')
					.gransmap__map__granitem__player(style="top: #{top2}; left: #{left2};")
						+icon('player-icon')
						.gransmap__map__granitem__arrow
							span
				
		.gransmap__map
			.gransmap__map__item.active(data-map="map1")
				.gransmap__map__item__img
					img(src="img/content/map1.png", alt="")
					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

			.gransmap__map__item(data-map="map2")
				.gransmap__map__item__img
					img(src="img/content/map2.png", alt="")
					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

			.gransmap__map__item(data-map="map3")
				.gransmap__map__item__img
					img(src="img/content/map3.png", alt="")
					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'smoke', true, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'fire', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')

					+gransmap__map__granitem('11.6%', '14.5%', '39%', '18.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('9.6%', '37.5%', '40%', '59.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('62.6%', '34%', '79%', '60.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
					+gransmap__map__granitem('56%', '81.2%', '25%', '88.5%', 'flash', false, 'https://www.youtube.com/embed/erFK-8FJVnU', 'img/content/video-holder-img.jpg')
	.gransmap-video
		.gransmap-video__title
			span Видео-инструкция
		.gransmap-video__wrap(data-video="https://www.youtube.com/embed/erFK-8FJVnU")
			.gransmap-video__wrap__holder
				.gransmap-video__wrap__holder__img.ofit-block
					img(src="img/content/video-holder-img.jpg", alt="")
				a(href="#").gransmap-video__play
			.gransmap-video__wrap__video
